# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://yfdwgkpttvffpoibisjj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmZHdna3B0dHZmZnBvaWJpc2pqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY2NTIwNjQsImV4cCI6MjA3MjIyODA2NH0.qxswLwSsluBP0T12AYphQLec4djwMV_s4QYUBrWQtT4

# Stream.io Configuration
EXPO_PUBLIC_STREAM_API_KEY=h246k69k7evm

# Web App API URL (for Stream token generation)
EXPO_PUBLIC_API_URL=https://web-app-only.vercel.app

# Expo Configuration
EXPO_PROJECT_ID=0b0622bd-fed2-443c-94c7-49cec61e014f

# Firebase Configuration (for FCM)
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBZrJtVRkcQSeRazVWILkaEAPvEFAHaeHc
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=sablon-4d924.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=sablon-4d924
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=sablon-4d924.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=770265453337
EXPO_PUBLIC_FIREBASE_APP_ID=1:770265453337:web:45a22c1b3fc1aaffd8ab88

# Notification Configuration
EXPO_PUBLIC_NOTIFICATION_ENABLED=true